<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Jurabek/Intellij-Teaching-Folder/my-maven-app/src">
        <classes>
            <class name="com.facebook.abc.gtl.test1.My1Test">
                <methods>
                    <include name="test1"/>
<!--                    <include name="test2"/>-->
                    <include name="test3"/>
                </methods>
            </class>
            <class name="com.facebook.abc.gtl.test2.My2Test">
                <methods>
<!--                    <include name="test4"/>-->
                    <include name="test5"/>
                    <include name="test6"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>